.container-fluid{
    height: 100%;   
    position: relative;
}

p, .card-text{
    font-size: 1.5rem;
    
    font-family: 'Karla', sans-serif;

}

h5, h2{
    
    font-family: 'Grandstander', cursive;
    font-size: 2rem;
    font-weight: bold;
}

/*****HEAD*****/

#head{
    
    background-color: #eeeeee;

}

.icon{
    position: absolute;
    z-index: 1;
    width: 60px;
}

.container-fluid{
    position: relative;
    z-index: 0;
    padding:1.5% 13% 7%;
}
.navbar{
    position: relative;
    z-index: 2;
   padding:  0 0 4.5rem;
   
   font-family: 'Karla', sans-serif;
}
.nav-item{
    margin-right: 20px;
    font-size: 1.3rem;

}
.navbar-brand{
    font-size: 3rem;
    font-weight: bold;
}

.title h1{
    font-family: 'Grandstander', cursive;
    font-weight: 600;
    position: relative;
    z-index: 2;
    line-height: 2.5;
}

.round-pic{
    
    position: relative;
    z-index: 2;
    width: 25%;
    border-radius: 100%;
    float: right;
}

.shift-left{
    transform: rotate(-25deg);
}
.shift-right{
    transform: rotate(25deg);
}

/*******SKILLS************/
#skills{
    background-color: #222831;
    padding: 10% 13%;
}

.card{
    text-align: center;
    margin-bottom: 10%;
}


.fas{
    margin:20px;
    color:#00acb5b0 ;
}

.fas:hover{
    color: #00adb5;
}
/*************PROJECTS****************/
#projects{
    
    background-color: #eeeeee;
}

.carousel-item{
    text-align: center;
    padding: 15% 30%;
    line-height: 2;
}

/*****************CONTACT************/
#contact{
    background-color: #222831;
    color: white;
    padding: 5% 13%;
    
    font-family: 'Grandstander', cursive;
}

.contact-item{
    margin-bottom: 20px;
}
/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

  .fa-2x{
      margin-right: 10px;
  }